ci:
  autofix_commit_msg: "chore(pre-commit): autofix run"
  autoupdate_commit_msg: "chore(pre-commit): autoupdate hooks"

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            "--verbose",
            "--scope",
            "data,src,src-analysis,src-data,src-viz,config,docs,notebooks",
            "feat",
            "fix",
            "refactor",
            "perf",
            "style",
            "test",
            "docs",
            "build",
            "chore",
            "ci"
          ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
    rev: v0.14.6
    hooks:
    # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [ --fix ]
    # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ]
